@page
@model AuthBoilerplate.Pages.LogoutModel
@{
}

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-sm-12 col-md-12 col-lg-4">
			<p>Are you sure you want to logout?</p>
			<form method="post">
				<button class="btn btn-primary" asp-page-handler="Logout">Yes</button>
				<button class="btn btn-light mx-2 border-dark" asp-page-handler="NoLogout">No</button>
			</form>
		</div>
	</div>
</div>